#############
## testing bigworld model files
#############

*.model
*.primitives
*.primitives_processed
*.visual
*.visual_processed
*.obj
*.mtl
*.fbx
*.dae
*.max
*.bat
*.py[cod]
*.rar
*.txt

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
